html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#navegador{
    display: flex;
    top: 0px;
    position: fixed;
    flex-direction: row;
    background-color: rgb(17, 72, 255);
    width: 100%;
    justify-content: center;
}

#logo{
    width: 100px;
    height: 100px;
    background-color: transparent;
}

#titulo{
    width: 100%;
    font-size: 23px;
    display: flex;
    justify-content: right;
    position: relative;
    right: 20px;
}