@import url(../styles/globales.css);

.span-title {
  color: rgb(19, 151, 228);
}

.title {
  font-size: 35px;
  text-align: center;
}

hr {
  border: .1rem solid grey;
  width: 100%;
}

/*Navegador*/
.contenedor-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 5px;
}

.navegador {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.navegador a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.navegador a:hover{
  background-color: rgb(19, 151, 228);
  color: white;
  border-radius: .5rem;
  transition: all .7s ease;
}

.hero {
  background-image: url("../Img/hero/3.jpg");
  height: 25rem;
  background-size: cover;
  /* or "contain" depending on what you want */
  background-position: center;
  background-repeat: no-repeat;
}

#footer_style{

}