@import url(../styles/globales.css);


.nosotros{
    width: 100%;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    justify-content: center;
}

.nosotros-caja{
    width: 50rem;
    height: 30rem;
}

#nosotros-imagen{
    background-image: url(../Img/hero/2.jpg);
    background-position: center;
    background-size: cover;
}

#caja-nosotros-info{
    background-color: rgb(19, 151, 228);
    display: flex;
    flex-direction: column;
    position: relative;
}

#nosotros-titulo{
    color:white;
    position: absolute;
    left: 40px;
    top: 50px;
}

#nosotros-detalles{
    color: white;
    position: absolute;
    left: 40px;
    top: 120px;
    right: 20px;
}

.nosotros_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.nosotros_title{
    font-size: 1.5rem;
}

.nosotros_details{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 30rem;
}

.nosotros_details img{
    height: 100%;
    object-fit: cover;
    width: 50%;
}

.nosotros_details p{
    color: black;
    font-size: 1.2rem;
    padding: 1.5rem;
}
