
label, input{
    display: block;
    
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
    color: aliceblue;
}

button{
    margin-top: 15px;
}

.error{
    display: none;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}