/* You can add global styles to this file, and also import other style files */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    background-color: rgb(0, 142, 120);
    margin: 0px;
}