<section  class="form-container">
    <form class="form">
        <fieldset>
            <legend><h2>User loging</h2></legend>
            <div class="campo">
                <label for="nombre">Usuario:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario...">
            </div>

            <div class="campo">
                <label for="password">Password:</label>
                <input type="password" name="pw" id="pw" placeholder="Ingrese password...">
            </div>

            <div class="campo">
                <input type="submit" value="Logearse" id="submit-login">
            </div>
        </fieldset>
    </form>
</section>