<section id="form-container">
    <form id="form-nuevo-editar-cliente" (ngSubmit)="editarCliente()" [formGroup]="formularioVariable">
        <fieldset>
            <legend>
                <h2>Editar Cliente</h2>
            </legend>
            <div>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" formControlName="apellido">
                <span class="error"
                    *ngIf="formularioVariable.controls['apellido'].getError('required') && formularioVariable.touched">
                    Error! Campo obligatorio.
                </span>
                <span class="error"
                    *ngIf="formularioVariable.controls['apellido'].getError('minlength') && formularioVariable.touched">
                    Error! minimo 3 caracteres.
                </span>
            </div>

            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" formControlName="nombre">
                <span class="error"
                    *ngIf="formularioVariable.controls['nombre'].getError('required') && formularioVariable.touched">
                    Error! Campo nombre necesario
                </span>
            </div>

            <div>
                <label for="dni">DNI:</label>
                <input type="number" name="dni" id="dni" formControlName="dni">
                <span class="error"
                    *ngIf="formularioVariable.controls['dni'].getError('required') && formularioVariable.touched">
                    Error! Campo DNI necesario
                </span>
            </div>

            <div>
                <label for="date">Fecha de Inicio:</label>
                <input type="date" name="fechaInicio" id="fechaInicio" formControlName="fechaInicio">
                <span class="error" *ngIf="formularioVariable.controls['fechaInicio'].getError('required') && formularioVariable.touched">
                    Error! Campo Fecha necesario
                </span>
            </div>

            <div>
                <input type="hidden" id="id" name="id" formControlName="id">
            </div>

            <div>
                <input type="submit" value="Editar Cliente" id="submit-edit">
            </div>
        </fieldset>
    </form>
</section>