#form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#form-nuevo-editar-cliente{
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#form-nuevo-editar-cliente div{
    padding: .5rem;
}
