html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color:  #101010;
    color:aqua; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}